{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src={% static "js/login.js" %}></script>
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">Главная</a>
        <a href="#news">Новости</a>
        <a href="#contact">Виды спорта</a>
        <a href="#about">Контакты</a>
        <a href="#zatemnenie" id="rightcol">Вход</a>
      </div>

      <style>
        
      </style>
    </head>
   
    <div id="zatemnenie">
        <div id="okno">
              <h1>Авторизация</h1>
              <p>Введите ваши данные для входа:</p>
              <form action="." method="post">
                  {{ form.as_p }}
                  {% csrf_token %}
                  <p><input type="submit" value="Вход" id="sbm">
                  <input type='button' value="Регистрация" id="reg" onclick="register()"></p>
                  
              </form> 
          <a href="#" class="close">Закрыть окно</a>
        </div>
      </div>
       
      

</html>
